$accent1: #BA3B46;
$accent2: #7B9EA8;
$accent3: #ED9B40;
$main: #191D32;
$dark1: #282f44;

$colors: $accent1, $accent2, $accent3;
$key: random( length($colors) );
$nth: nth( $colors, $key );

$main-color: $nth !default;

$extra-small: "only screen and (max-width: 600px)";
$small: "only screen and (min-width: 600px)";
$medium: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 992px)";
$extra-large: "only screen and (min-width: 1200px)";


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100%;
    height: 60px;

    @media #{$extra-small} {
        height: 100px;
    }

    background-color: $dark1;

    a {
        color: white;
        font-size: 1.2em;
        display: inline-block;
        padding: 3.5 0;
        transition: background-color 0.4s ease;
        text-align: center;
        margin-left: 2%;
        font-size: 1.2em;
        width: 100px;
        background-color: $accent3;
        text-decoration: none;
        border-radius: 4px;
        border-style: none;
        position: absolute;
        top: 14;

        @media #{$extra-small} {
            position: relative;
            top: 0;
            display: block;
            margin-top: 0;
        }

        &#add {
            width: 150px;
        }

        &#premium {
            float: right;
            background-color: $accent1;
            position: relative;
        }

        &.logout {
            position: relative;
            float: right;
            margin-right: 2%;
        }
    }

    #loginButton {
        width: 150px;
    }

    #changePass {
        float: right;
        width: 200px;
        background-color: $accent2;
        position: relative;
    }
}

#addFake{
    color: white;
    display: inline-block;
    padding: 3.5 3.5;
    transition: background-color 0.4s ease;
    text-align: center;
    margin-left: 2%;
    font-size: .8em;
    background-color: #ED9B40;
    text-decoration: none;
    border-radius: 4px;
    border-style: none;
    font-weight: normal;
}

.navBox {
    margin-left: 2%;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    position: relative;

    a,
    a:link,
    a:visted,
    a:hover,
    a:active {
        color: white;
        text-decoration: none;
        padding: 3px;
        border-radius: 4px;
        background-color: $main;
        transition: background-color 0.4s ease;
        width: 100px;
        display: block;
        margin: auto;
        text-align: center;
        margin-left: 2%;
    }
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: $main;
}

.exerciseForm, .passForm {
    background-color: $main;
    opacity: 1;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    padding: 5%;

    label {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1em;
        color: white;
    }

    input {
        display: block;
        margin: auto;
        margin-bottom: 5%;
    }

    .makeDataSubmit {
        transition: background-color 0.4s ease;
        display: inline;
        background-color: $dark1;
        border-radius: 2px;
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }

    .makeDataSubmit:hover {
        transition: background-color 0.4s ease;
        background-color: $dark1;
    }
}


.mainForm {
    width: 100%;

    float: left;
    margin-bottom: 0;
    position: relative;

    #user,
    #pass,
    #pass2 {
        margin-left: 2%;
        text-align: center;
        font-size: 1.1em;
        width: 180px;
        border-radius: 6px;

        @media #{$extra-small} {
            position: relative;
            top: 0;
            display: block;
            margin-top: 0;
        }
    }

}

.formSubmit {
    transition: background-color 0.4s ease;
    text-align: center;
    margin-left: 2%;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: $accent1;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border-style: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#domoMessage {
    display: none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index: 300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#data {
    margin-top: 100px;
}

.dataObj {
    width: 30%;
    background-color: $main-color;
    display: inline-block;
    overflow: hidden;
    margin: 1.5%;

    &:hover {
        transition: border-color 0.2s ease-out;
        border-color: rgba(255, 255, 255, 0.8);
        transition: background-color 2.6s ease-out;
        background-color: lighten($main-color, 5%);
    }
}

h3 {
    &.activity {
        font-weight: bold;
        margin-left: 5%;
        font-size: 2em;
        display: block;
    }

    &.timeof,
    &.date {
        width: 100%;
        margin-left: 15%;
        font-size: 1.5em;
        font-weight: normal;
    }

    &.empty {
        width: 400px;
        font-size: 1.5em;
        margin: 0 auto;
        text-align: center;
        margin-top: 18px;
    }
}

#main {
    background-color: white;
    height: 100%;

    .homeContent {
        height: 90%;
        margin: 1% 0 0 1%;
        width: 32%;
        float: left;
        background-color: $dark1;
        color: white;
    }

    #one,
    #two,
    #three {
        position: relative;

        img {
            height: 95%;
            width: 95%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3%;

        }

        p {
            position: absolute;
            background: $accent1;
            top: 50;
            left: 25%;
            padding: 2%;
            border-radius: 4px;
        }
    }

    #two {
        p {
            background: $accent2;
        }
    }

    #three {
        p {
            background: $accent3;
        }
    }
}

#vis {
    margin: auto;
    text-align: center;
    display: none;

    .rv-xy-plot {
        margin: auto;
        fill: none;
    }

    .rv-xy-plot__axis {
        fill: $dark1;
    }

    .rv-xy-plot__inner{
        height: 500;
    }
}

rect{
    fill: $main !important;
    stroke: $main !important;
}

#overlayFormExercise,
#overlayFormPassword {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
    display: none;
}

.graph{
    display: inline-block;
}